# package directories
node_modules/
jspm_packages/
serverless_sdk/

# Serverless directories
.serverless

# Temporary test files
s_*
test.js
test-conversion.js

# Typescript maps
.build/

# Credentials
google-speech-to-text-creds.json

# Audio files
audio/